@page "/learnblazor/demoproduct"

<div class="row">
    <h3>Demo Product</h3>
    <p>Favourite Count: @FavoriteCount</p>
    <p>Selected Product: @SelectedProduct</p>
    <hr />

    @foreach (var item in Products)
    {
        <_IndividualComponent Prod="@item" OnFavoriteUpdate="IncrementFavoriteCount"
            OnDivSelectionUpdate="UpdateSelectedProduct">

        </_IndividualComponent>
        <br />
    }
</div>

@code {
    private int FavoriteCount = 0;
    private string SelectedProduct;

    protected void UpdateSelectedProduct(string productName)
    {
        SelectedProduct = productName;
    }

    protected void IncrementFavoriteCount(bool isSelected)
    {
        if(isSelected)
        {
            FavoriteCount++;
        }
        else
        {
            FavoriteCount--;
        }
    }

    private void DeleteProduct(int Id)
    {
        var prod = Products.FirstOrDefault(x => x.Id == Id);
        if(prod != null)
        {
            Products.Remove(prod);
        }
    }

    private List<Product> Products = new List<Product>();
    private bool showProperties;

    protected override void OnInitialized()
    {
        Products.Add(new()
        {
            Id = 1,
            Name = "Midnight Blaze",
            IsActive = false,
            ProductVarients = new()
                {
                    new ProductVarient { Id = 1, Color="Rose", Price = 2000},
                    new ProductVarient { Id = 2, Color="Purple", Price = 1000},
                    new ProductVarient { Id = 3, Color="Magenta", Price = 3000}
                }
        });

        Products.Add(new()
        {
            Id = 2,
            Name = "Blossom Lily",
            IsActive = true,
            ProductVarients = new()
            {
                  new ProductVarient { Id = 1, Color="Purple", Price = 1000},
                    new ProductVarient { Id = 2, Color="Rose", Price = 2000},
                    new ProductVarient { Id = 3, Color="Magenta", Price = 3000}
            }
        });
    }
}
