@page "/learnblazor/parentcomponent"

<h3>Parent Component</h3>

<CascadingValue Value="@GrandChildComponentMessage" Name="Message">
    <CascadingValue Value="@LuckyNumber" Name="LuckyNumber">
        <_ChildComponent ChildMessage="This is the child component message passed from Parent component"
                         OnButtonClicked="ShowMessage">
            <ChildContent>This is the Child Content sent from parent</ChildContent>
            <ChildFrgamentContent>This is the Child fragement Content sent from parent</ChildFrgamentContent>
        </_ChildComponent>
    </CascadingValue>
</CascadingValue>
@Message


<_ChildComponent ChildMessage="This is the child component message passed from Parent component">

</_ChildComponent>

@code {
    private string GrandChildComponentMessage = "Hello from Parent Component to Grand Child Component";
    public string Message;
    public string LuckyNumber = "7";

    public void ShowMessage()
    {
        Message = "Button is clicked from child component";
    }

}
