<div>
    <div class="alert alert-info" role="alert">
        @ChildMessage
    </div>


    @if (ChildContent != null)
    {
        <div class="alert alert-success">
            @ChildContent
        </div>
    }

    @if (ChildFrgamentContent != null)
    {
        <div class="alert alert-success">
            @ChildFrgamentContent
        </div>
    }

    <_GrandChildComponent></_GrandChildComponent>

    <input type="button" class="btn btn-success" value="Submit" @onclick="OnButtonClicked" />

</div>

@code {
    [Parameter]
    public string? ChildMessage { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment ChildFrgamentContent { get; set; }

    [Parameter]
    public EventCallback OnButtonClicked { get; set; }
}
