<div>
    <div class="alert alert-light">
        This is the Grand Child Component.
        <br/>
        The Grand Child Component Message: @GrandChildComponentMessage
    </div>

</div>

@code {
    [Parameter]
    public string GrandChildComponentMessage { get; set; }
}
